html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    background-color: rgb(26, 24, 62);
}
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(26, 24, 62);
    letter-spacing: 0.8px;
}

.contained {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(26, 24, 62);
    overflow: hidden;
    /* max-width: 900vw; */
    /* border-radius: 8px; */
}

.left-column, .right-column {
    flex: 1;
    padding: 15px;
    letter-spacing: 0.5px;
}


.left-column {
    background-color: rgb(26, 24, 62);
    position: relative;
    width: 51vw;
}

.right-column {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #fff;
    color: rgb(26, 24, 62);
    border-radius: 25px 0 0;
    width: 49vw;
}
.left-column::before, .left-column::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/Group\ 96.webp');
    background-size:contain;
    background-position: center;
    opacity: 0.5;
    z-index: 2;
}

.left-column h1, .left-column h3, .left-column p {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-column p {
    margin-top: 7px;
    font-size: 1.4rem;
}


div.form {
    width: 50vw;
    margin: 80px 120px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 60%;
    padding: 10px;
    background-color: #f305f8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
a {
    color: #f305f8;
    text-decoration: none;
}

@media (max-width: 1023px) {
    .container {
        flex-direction: column;
    }
    .left-column {
        display: none;
    }
    .contained {
        background-color: #fff;
        width: 100vw;
        
    }
    div.form {
        width: 100%;
        margin: 20px;
    }
    .format {
        width: 85vw !important;
    }
}